* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;   
    background-color: #1021b8;
    color:#ffffff;
}

button:hover {
    background-color: #e40000;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: #1b17eb;
}

header {
    background-color: #ffffff;

}

.boton {

    margin: auto;
    font-size: xx-small;
    color:#ffffff;

}

/*LOGO*/
.marca {
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

.marca .logo {
    max-width: 80%;
    /* Ajustar el tamaño del logo */
    margin: 20px auto;
    /* Margen superior e inferior para separar del borde */
    background-image: url('../css/img/MOTOWORKS.jpg');
    /* Ruta de tu logo */
    background-size: cover;
    /* Ajustar el tamaño del logo */
    background-position: center center;
    /* Posición central del logo */
    background-repeat: no-repeat;
    /* Evitar repetición */

}

.marca>img {
    width: 100px;
    height: 100px;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

header a:hover {
    color: #38207a;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:url("../css/img/DUCATI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero button {
    font-size: 1.75em;
    
}


/*Banner principal*/
#quienes .container {
    text-align: center;
   
    
}

/*SERVICIOS versión mobil*/
#servicios {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#servicios .container {
    padding: 80px 12px;
}

#servicios h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p {
    display: none;
}

#servicios .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(166, 209, 176, 0.5),
            rgba(0, 0, 0, 0.5)), url("../css/img/bjorn-magnus-kristiansen-dlE3CqAbwx8-unsplash.jpg")
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../css/img/artur-tumasjan-oQ1JNNKGIQs-unsplash.jpg");

}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../css/img/kenny-eliason-60krlMMeWxU-unsplash.jpg");

}

.carta:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/bjorn-magnus-kristiansen-dlE3CqAbwx8-unsplash.jpg");

}

/*productos version mobil*/
#productos {
    background-color: white;
    color: rgb(30, 30, 30);
    text-align: center;
}

#productos .container {
    width: 100%;
}

#productos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#productosp {
    display: inline-block;
}

#productos .carta1 {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 100px;
    border-radius: 15px;
    float: left;
    /* Agregar float a las cartas */
    width: calc(40% - 70px);
    /* Establecer el ancho deseado y restar el margen */
    box-sizing: border-box;
    /* Incluir el padding en el ancho */
    margin-top: 30px;
    /* Agregar margen superior para separar las filas */
}

.carta1:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/artur-tumasjan-oQ1JNNKGIQs-unsplash.jpg")
}

.carta1:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg3.jpg");
}

.carta1:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif");

}

.carta1:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif");

}






/*Final mobil*/
#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2 {
    font-size: 9vw;
}

#final button {
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #quienes .container {
        display: flex;
        justify-content: space-evenly;
    }

    #quienes.texto {
        width: 50%;
        max-width: 400px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienes h2 {
        margin-top: 0px;
    }

    /*Banner principal*/
    #quienes .img-container {
        background-image: url("../img/MOTOWORKS.jpg");
      
        height: 400px;
        width: 400px;
    }


    /*PRODUCTOS versión escritorio*/
    #productos .lista {
        display: inline-block;
        justify-content: center;
    }

    #productosp {
        display: block;
        margin-bottom: 30px;
    }

    #productos h2 {
        font-size: 4em;
    }

    #productosh3 {
        margin-top: 0;
    }

    #productos.carta1 {
        padding: 50px;
        background-size: 200% 250px;

    }

    .carta1:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../img/bjorn-magnus-kristiansen-dlE3CqAbwx8-unsplash.jpg");

    }

    .carta1:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg3.jpg");
    }

    .carta1:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif")
    }

    .carta1:nth-child(4) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif")
    }

    /*Articulos personalizados versión escritorio*/
    #articulos .opciones {
        display: flex;
        justify-content: center;
    }

    #articulos p {
        display: block;
        margin-bottom: 30px;
    }

    #articulos h2 {
        display: block;
        margin-bottom: 30px;
    }

    #articulos h3 {
        margin-top: 0;
    }

    #articulos .art {
        padding: 50px;
        background-size: 200% 250px;

    }

    .carta2:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/art2.png");

    }

    .carta2:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/art1.jpg");
    }

    .carta2:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/art3.jpg")
    }

    /*Seccion contactanos*/
    #contactanos {
        justify-content: center;
        text-align: center;
        padding: 50px;
        background-size: 50% 20px;
        display: block;
        margin-bottom: 30px;
    }

    .red1 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #0000ff;

    }

    .red2 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #1e631e;
    }

    .red3 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #000000;
    }

    .red4 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #ff0000;
    }

    /*Final version escritorio*/
    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #detalles {
        background-position-x: calc(100vw - 800px);
    }
}